__site/
.DS_Store
franklin
franklin.pub
node_modules/
Manifest.toml
Miscellaneous/Shuvomoy_CV/CV.log
Miscellaneous/Shuvomoy_CV/CV.synctex.gz
Miscellaneous/Shuvomoy_CV/CV.aux
Miscellaneous/Shuvomoy_CV/CV.out
Miscellaneous/Shuvomoy_CV/missfont.log
